
<div>

  <div>
    <button (click)="getCookie()">Get Simple Cookie</button>
  </div>

  <div>
    <label for="cookie-key">Cookie Key</label>
    <input id="cookie-key" [(ngModel)]="cookie.key">

    <label for="cookie-value">Cookie Value</label>
    <input id="cookie-value" [(ngModel)]="cookie.value">

    <button (click)="addCookie()">Save New Cookie</button>
  </div>
</div>

<div>
  <pre><code>{{data | async | json}}</code></pre>
</div>

<div>
  <button (click)="showError()">Error Test</button>
</div>
